<div id="container">
  <div class = "input_container">

      <div class="input item_name"> 
          <p>Item:</p> 
          <input [(ngModel)]="newItemDef" placeholder="{{newItemDef}}"/>
        </div>
        <div class="input item_price">
          <p>Price:</p>  
          <input [(ngModel)]="newPrice" placeholder="Enter Price here"/>
        </div>
        <div class="input item_total">
          <p>Quantity:</p>  
          <input [(ngModel)]="newTotal" placeholder="Enter total here"/>
        </div>
    
        <Button class="add_item" (click)="AddItemToList()">Add Item</Button>
        <Button class="remove_item" (click)="RemoveItemFromList()">Remove Item</Button>

  </div>


  <div class="item_container">
      <div class="item-list">
          <ul *ngFor="let i of sh.items" class="items_list">
            <li class="single_item" (click)="selectItem(i)" [ngClass]="i.isSelected ? 'selected' : ' '">
              <p><strong>{{i.item}}</strong></p>
              <p>{{i.price}}</p>
              <p>{{i.quant}}</p>
              <p>{{i.total}}</p>
            </li>
          </ul>
          <div class="total_price">
              <p><strong>Total:</strong></p>
              <p><strong>{{FormTotalCost()}}</strong></p>
          </div>
        </div>
  </div>

  <div class="detail_container">
    <h1>Details</h1>
    <div class="items_details">
      <div class="detail_item">
          <p><strong>Name: </strong></p>
          <p>{{selectedItem.item}}</p>
      </div>
      <div class="detail_item">
          <p><strong>Price: </strong></p>
          <p>{{selectedItem.price}}</p>
      </div>
      <div class="detail_item">
          <p><strong>Amount: </strong></p>
          <p>{{selectedItem.quant}}</p>
      </div>

    </div>
  </div>

  
</div>