#container 
{
    width: 100%;

    .input_container
    {
        margin-bottom: 60px;

        button{
            margin-bottom: 25px;
            margin-top: 15px;
        }

        .add_item
        {
            float: right;
            margin-top: 10px;
        }

        .remove_item
        {
            float: right;
            margin-top: 10px;
            margin-right: 20px;
        }

        .input p{
            margin-bottom: 5px;
        }
    }

    .item_container
    {

        .items_list
        {
    
            padding: 0;
            margin: 0;
            line-height: 23px;
            margin-bottom: 5px;
    
            .single_item
            {
    
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                p
                {
                    margin: 0;
                    width: 50px;

                    strong{
                        width: 70px;
                    }
                }
        
            }
        }

        .total_price
        {
            float: right;
            margin: 0;
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #000;
            width: 100%;

            p
            {
                margin:0;
            }
        }

    }
    
    .selected{
        background-color: aqua;
    }
    
    .detail_container
    {
        margin-top: 100px;

        h1{
            margin: 0;
        }

        p{
            margin: 0;
            line-height: 22px;
            strong{
                margin-right: 30px;
            }
        }
        
        .items_details {
               
            .detail_item {
                display: flex;
                flex-direction: row;

                p{
                    width: 90px;
                    margin: 0;
                }
                strong{
                    width: 90px;
                    margin-right: 20px;
                }

                p:last-child{
                    text-align: right;
                }
            }
    
        }
    }
    
    
}